page-settings {

	.buttonBottom{
		width: 90% !important;
		margin: auto !important; 
	}
	
	.footerBottom{
		bottom: 10px !important;
	}
	
	.footer-md::before{
		display: none;
	}
	
	ion-label[fixed] {
		min-width: 50px;
		width: 50px;
		flex: 0 0 0px;
	}
	
	::-webkit-scrollbar,
	*::-webkit-scrollbar {
	  display: none;
	}
}
